h1,h2{
  color: green;

  text-align: center;

}

redy{

color: red;
align-items: center;
}

.tab1,tabl2{
  color: green;
  align: center;
}

.button2,button1{

  align: center;
  color: blue;
  bgcolor: red;




}
